.chair-section{
    margin-top: 2vh;
    color: black;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    height: 3vh;
    width: 2vw;
    margin-left: 1vw;
    margin-top: 1vh;
}

.col1{
    height: 5vh;
    width: 10vw;
    margin-left: 1vw;
    margin-top: 1vh;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}